* {
    scroll-behavior: smooth;
}
.App {
    background-color: #035397;
    min-height: 100vh;
    color: #fcd900;
    padding-bottom: 70px;
}
.item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.single__item {
    padding: 10px;
    border: 2px solid gray;
}
.item img {
    height: auto;
    width: 250px;
}
.pageTitle {
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .pageTitle {
        font-size: 6vw;
    }
}
